

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
 

}

select{
    text-align: center;
    letter-spacing: 0.2em;
    margin-right: 20px;
    margin-left: 20px;
    padding-left:  10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    height: 28px;
}

input{
    text-align: center;
    letter-spacing: 0.2em;
    margin-right: 20px;
    margin-left: 20px;
    padding-left:  10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    height: 28px;
}

button{
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: 150px;
    height: 35px;
}


.divisiones{
    
    display: flex;
    
    
    
}

.tipoRepa{
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    
    

}

.principal{
    justify-content: center;
    border-radius: 20px;
    padding: 30px;
    background-color: rgb(144, 169, 244);
    

}


#debito {
    letter-spacing: 0.25em;
    padding: 30px;
    align-items:center; 
    justify-content:center;
    text-decoration: solid;
    line-height: 80px;
    
    padding-bottom: 40px;
    
    

}

.cuotas {

    letter-spacing: 0.25em;
    padding: 30px;
    line-height: 80px;
    align-items:center; 
    justify-content:center;
    

    
}
 
#online{

 text-align: center;

 text-decoration: solid;

 font-size: larger;

 font-weight: 900;

 font-size: 50px ;

 padding: 50px;

 

}

#nobanc1 {

    letter-spacing: 0.25em;
    padding: 30px;
    line-height: 80px;
    align-items:center; 
    justify-content:center;
    

    
}

#nobanc2 {

    letter-spacing: 0.25em;
    padding: 30px;
    line-height: 80px;
    align-items:center; 
    justify-content:center;
    

    
}

#nobanc3 {

    letter-spacing: 0.25em;
    padding: 30px;
    line-height: 80px;
    align-items:center; 
    justify-content:center;
    

    
}